@import "tailwindcss";

@theme {
  --color-slate-900: #10172A;
  --color-slate-800: #1E293B;
  --color-slate-700: #334155;
  --color-slate-600: #475569;
  --color-slate-500: #64748B;
  --color-slate-400: #94A3B8;
  --color-slate-300: #CBD5E1;
  
  --color-teal-500: #14B8A6;
  --color-teal-400: #2DD4BF;
  
  --color-red-900: #7F1D1D;
  --color-red-500: #EF4444;
  --color-red-400: #F87171;
  --color-red-200: #FECACA;
  
  --color-rose-500: #F43F5E;
  --color-rose-400: #FB7185;
}

body {
  background-color: var(--color-slate-900);
  color: #F3F4F6; /* gray-100 */
  -webkit-font-smoothing: antialiased;
}